<aside>
    <h4>カテゴリへのリンク</h4>
    <ul class="list-unstyled">
      <li><a href="">Link</a></li>
      <li><a href="">Link</a></li>
      <li><a href="">Link</a></li>
      <li><a href="">Link</a></li>
      <li><a href="">Link</a></li>
    </ul>
</aside>
  
<aside>
    <h4>新着記事</h4>
    <ul class="list-unstyled">
      <li><a href="">記事のタイトルタイトル</a></li>
      <li><a href="">記事のタイトルタイトル</a></li>
      <li><a href="">記事のタイトルタイトル</a></li>
      <li><a href="">記事のタイトルタイトル</a></li>
      <li><a href="">記事のタイトルタイトル</a></li>
    </ul>
</aside>

